{% extends 'portfolio/base.html' %}
{% load static %}
{% block content %}
    <!-- custom  -->
    <link rel="stylesheet" type="text/css" href="{% static 'portfolio/css/about.css' %}">


    <div class="container">
        <h2 class="font-weight-light text-center text-muted py-3">
            about
        </h2>
        <!-- start of item 1 -->
        <div class="row">
            <div class="col-auto text-center flex-column d-none d-sm-flex">
                <div class="row h-50">
                    <div class="col">&nbsp;</div>
                    <div class="col">&nbsp;</div>
                </div>
                <h5 class="m-2">
                    <span class="badge rounded-circle bg-light border">&nbsp;</span>
                </h5>
                <div class="row h-50">
                    <div class="col border-end">&nbsp;</div>
                    <div class="col">&nbsp;</div>
                </div>
            </div>
            <div class="col py-2">
                <div class="card">
                    <!-- <img class="" src="{% static 'portfolio/img/pz1.png' %}" class="card-img-top" alt="..."> -->
                    <div class="card-body">
                        <div class="float-end">Aug 2013 to May 2017</div>
                        <h4 class="card-title text-muted">Pitzer College</h4>
                        <p class="card-text text-muted">Bachelors of Arts in Biophysics</p>
                        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque quis urna sed ligula rhoncus imperdiet. Vivamus finibus ante a magna varius, in egestas ex pharetra. In at ante nec metus tempor pretium. Nullam vel elementum arcu. Suspendisse vel commodo massa. Nulla scelerisque, tortor nec accumsan accumsan, dui risus facilisis elit, nec faucibus purus libero sed enim. In commodo dapibus venenatis. Nullam mattis ac risus ac lacinia. Fusce ut bibendum velit. Aenean gravida velit id metus tempus dapibus. Fusce sit amet gravida sapien, non tempus dui. Sed metus tortor, porta sit amet rhoncus non, vestibulum sit amet lorem. In non venenatis tellus. In id tortor sed magna auctor molestie. Mauris et viverra nulla.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- end of item 1 -->

        <!-- start of item 2 -->
        <div class="row">
            <div class="col-auto text-center flex-column d-none d-sm-flex">
                <div class="row h-50">
                    <div class="col border-end">&nbsp;</div>
                    <div class="col">&nbsp;</div>
                </div>
                <h5 class="m-2">
                    <span class="badge rounded-circle bg-light border">&nbsp;</span>
                </h5>
                <div class="row h-50">
                    <div class="col border-end">&nbsp;</div>
                    <div class="col">&nbsp;</div>
                </div>
            </div>
            <div class="col py-2">
                <div class="card">
                    <div class="card-body">
                        <div class="float-end">Aug 2017 to July 2020</div>
                        <h4 class="card-title text-muted">David Geffen School of Medicine Information Technology (DGIT)</h4>
                        <p class="card-text text-muted">Software Development Group</p>
                        <p class="lead">Donec id interdum lorem. Cras semper placerat pretium. Nullam arcu enim, tincidunt ut imperdiet vel, posuere eu nunc. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc velit purus, imperdiet vitae nulla quis, semper vestibulum lectus. Vivamus eu semper turpis. Donec diam metus, sagittis in ligula sed, interdum varius magna. Praesent eget mauris vestibulum est venenatis volutpat ut nec ipsum. Proin at ligula in neque accumsan gravida. Aenean et volutpat massa. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse eget sem elementum, venenatis tellus vel, vehicula purus. Curabitur posuere, nisl a suscipit finibus, est nisi gravida tortor, eu gravida neque tellus non dolor.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- end of item 2 -->

        <!-- start of item 3 -->
        <div class="row">
            <div class="col-auto text-center flex-column d-none d-sm-flex">
                <div class="row h-50">
                    <div class="col border-end">&nbsp;</div>
                    <div class="col">&nbsp;</div>
                </div>
                <h5 class="m-2">
                    <span class="badge rounded-circle bg-light border">&nbsp;</span>
                </h5>
                <div class="row h-50">
                    <div class="col border-end">&nbsp;</div>
                    <div class="col">&nbsp;</div>
                </div>
            </div>
            <div class="col py-2">
                <div class="card">
                    <div class="card-body">
                        <div class="float-end">Aug 2020 to May 2022</div>
                        <h4 class="card-title text-muted">University of Colorado Denver</h4>
                        <p class="card-text text-muted">Master of Science in Computer Science</p>
                        <p class="lead">Sed non rutrum sapien, quis volutpat enim. Donec vitae est nec justo commodo viverra vel iaculis nunc. Aenean feugiat dui at metus ultrices dictum. Etiam tristique vel mi vitae ornare. In hac habitasse platea dictumst. Duis sed nibh at est ornare fringilla. Nulla ultrices erat a massa faucibus, ac imperdiet ex hendrerit. Integer bibendum augue at mauris facilisis blandit. Etiam viverra mi sit amet arcu fringilla, vitae molestie sapien pulvinar. Donec tempor elementum leo, semper convallis libero finibus maximus. Vestibulum blandit, leo quis ornare luctus, velit odio ultrices ante, sed sagittis massa erat vel sapien. Nullam efficitur metus in fringilla vestibulum. Nam gravida, est eget porttitor finibus, tellus nunc posuere elit, nec faucibus erat massa mollis ipsum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- end of item 3 -->


    </div>
{% endblock %}
