{% extends 'portfolio/base.html' %}
{% load static %}
{% block content %}
    <!-- custom  -->
    <link rel="stylesheet" type="text/css" href="{% static 'portfolio/css/about.css' %}">


    <div class="container">
        <h2 class="font-weight-light text-center text-muted py-3">
            about
        </h2>
        <!-- start of item 1 -->
        <div class="row">
            <div class="col-auto text-center flex-column d-none d-sm-flex">
                <div class="row h-50">
                    <div class="col">&nbsp;</div>
                    <div class="col">&nbsp;</div>
                </div>
                <h5 class="m-2">
                    <span class="badge rounded-circle bg-light border">&nbsp;</span>
                </h5>
                <div class="row h-50">
                    <div class="col border-end">&nbsp;</div>
                    <div class="col">&nbsp;</div>
                </div>
            </div>
            <div class="col py-2">
                <div class="card">
                    <!-- <img class="" src="{% static 'portfolio/img/pz1.png' %}" class="card-img-top" alt="..."> -->
                    <div class="card-body">
                        <div class="float-end">Aug 2013 to May 2017</div>
                        <h4 class="card-title text-muted">Pitzer College</h4>
                        <p class="card-text text-muted">Bachelors of Arts in Biophysics</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- end of item 1 -->

        <!-- start of item 2 -->
        <div class="row">
            <div class="col-auto text-center flex-column d-none d-sm-flex">
                <div class="row h-50">
                    <div class="col border-end">&nbsp;</div>
                    <div class="col">&nbsp;</div>
                </div>
                <h5 class="m-2">
                    <span class="badge rounded-circle bg-light border">&nbsp;</span>
                </h5>
                <div class="row h-50">
                    <div class="col border-end">&nbsp;</div>
                    <div class="col">&nbsp;</div>
                </div>
            </div>
            <div class="col py-2">
                <div class="card">
                    <div class="card-body">
                        <div class="float-end">Aug 2017 to July 2020</div>
                        <h4 class="card-title text-muted">David Geffen School of Medicine Information Technology (DGIT)</h4>
                        <p class="card-text text-muted">Software Development Group</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- end of item 2 -->

        <!-- start of item 3 -->
        <div class="row">
            <div class="col-auto text-center flex-column d-none d-sm-flex">
                <div class="row h-50">
                    <div class="col border-end">&nbsp;</div>
                    <div class="col">&nbsp;</div>
                </div>
                <h5 class="m-2">
                    <span class="badge rounded-circle bg-light border">&nbsp;</span>
                </h5>
                <div class="row h-50">
                    <div class="col">&nbsp;</div>
                    <div class="col">&nbsp;</div>
                </div>
            </div>
            <div class="col py-2">
                <div class="card">
                    <div class="card-body">
                        <div class="float-end">Aug 2020 to May 2022</div>
                        <h4 class="card-title text-muted">University of Colorado Denver</h4>
                        <p class="card-text text-muted">Master of Science in Computer Science</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- end of item 3 -->


    </div>
{% endblock %}
