{% extends "portfolio/base.html" %}
{% load static %}
{% block content %}
    <div class="p-5 my-8 bg-light rounded-3">
        <div class="container py-5">
            <h1 class="display-5 fw-bold">hi there!</h1>
            <p class="col-md-12 fs-4">
                my name is julian roberts, and i am a software engineer located in denver, co.
            </p>
            <p class="col-md-12 fs-4">
                this website is currently under construction and will be available soon.
            </p>
            <p class="col-md-12 fs-4">
                sorry for any inconvenience, and hope to see you again soon!
            </p>
            <p class="col-md-12 fs-4">
                under construction since: august 26th 2021
            </p>
            <a href="{% static 'portfolio/pdf/resume.pdf' %}" download="resume.pdf">
                <button class="btn btn-primary btn-lg my-3" type="button">download resume</button>
            </a>
        </div>
    </div>
    <br><br>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="mt-4 mb-4">Projects</h2>
            </div>
            <div class="col-md-6 col-lg-4">
                <!-- Bootstrap 5 card box -->
                <div class="card-box">
                    <div class="card-thumbnail">
                        <!-- <img src="{% static 'portfolio/img/logo1.png' %}" class="card-img-top img-fluid" alt=""> -->
                    </div>
                    <h3><a href="#" class="mt-2 text-primary">What is Lorem Ipsum?</a></h3>
                    <p class="text-secondary">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour</p>
                    <a href="#" class="btn btn-sm btn-primary float-right">Read more >></a>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <!-- Bootstrap 5 card box -->
                <div class="card-box">
                    <div class="card-thumbnail">
                        <img src="images/office-image-two.jpg" class="img-fluid" alt="">
                    </div>
                    <h3><a href="#" class="mt-2 text-primary">Why do we use it?</a></h3>
                    <p class="text-secondary">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour</p>
                    <a href="#" class="btn btn-sm btn-primary float-right">Read more >></a>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <!-- Bootstrap 5 card box -->
                <div class="card-box">
                    <div class="card-thumbnail">
                        <img src="images/office-image-three.jpg" class="img-fluid" alt="">
                    </div>
                    <h3><a href="#" class="mt-2 text-primary">Where does it come from?</a></h3>
                    <p class="text-secondary">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour</p>
                    <a href="#" class="btn btn-sm btn-primary float-right">Read more >></a>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <!-- Bootstrap 5 card box -->
                <div class="card-box">
                    <div class="card-thumbnail">
                        <img src="images/office-image-four.jpg" class="img-fluid" alt="">
                    </div>
                    <h3><a href="#" class="mt-2 text-primary">Where can I get some?</a></h3>
                    <p class="text-secondary">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour</p>
                    <a href="#" class="btn btn-sm btn-primary float-right">Read more >></a>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <!-- Bootstrap 5 card box -->
                <div class="card-box">
                    <div class="card-thumbnail">
                        <img src="images/office-image-five.jpg" class="img-fluid" alt="">
                    </div>
                    <h3><a href="#" class="mt-2 text-primary">Standard Lorem Ipsum passage</a></h3>
                    <p class="text-secondary">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour</p>
                    <a href="#" class="btn btn-sm btn-primary float-right">Read more >></a>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <!-- Bootstrap 5 card box -->
                <div class="card-box">
                    <div class="card-thumbnail">
                        <img src="images/office-image-six.jpg" class="img-fluid" alt="">
                    </div>
                    <h3><a href="#" class="mt-2 text-primary">What is Lorem Ipsum?</a></h3>
                    <p class="text-secondary">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour</p>
                    <a href="#" class="btn btn-sm btn-primary float-right">Read more >></a>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid py-5">
        <form id="contactForm">
            <div class="mb-3">
                <label class="form-label" for="emailAddressFrom">From:</label>
                <input class="form-control" id="emailAddressFrom" type="email" placeholder="name@example.com" />
            </div>
            <div class="mb-3">
                <label class="form-label" for="name">Subject:</label>
                <input class="form-control" id="Subject" type="text" />
            </div>
            <div class="mb-3">
                <label class="form-label" for="message">Message:</label>
                <textarea class="form-control" id="message" type="text" style="height: 10rem;"></textarea>
            </div>
            <div class="d-grid">
                <button class="btn btn-primary btn-lg" type="submit">Submit</button>
            </div>
        </form>
    </div>
    <br><br>
{% endblock content %}
