{% extends "portfolio/base.html" %}
{% load static %}
{% block content %}
    <br><br>
    <div class="p-5 my-8 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">hi there!</h1>
        <p class="col-md-12 fs-4">
            my name is julian roberts, and i am a software engineer located in denver, co.
        </p>
        <p class="col-md-12 fs-4">
            this website is currently under construction and will be available soon. sorry for any inconvenience, and hope to see you again soon!
        </p>
        <p class="col-md-12 fs-4">
            under construction since: august 26th 2021
        </p>
        <a href="{% static 'portfolio/pdf/resume.pdf' %}" download="resume.pdf">
            <button class="btn btn-primary btn-lg my-3" type="button">download resume</button>
        </a>
      </div>
    </div>
{% endblock content %}
