{% extends "portfolio/base.html" %}
{% load static %}
{% block content %}
    <div class="container">
        <h1>Rock 'n' Roll San Antonio – 2021</h1>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Week #</th>
                        <th scope="col">Date</th>
                        <th scope="col">Monday</th>
                        <th scope="col">Tuesday</th>
                        <th scope="col">Wednesday</th>
                        <th scope="col">Thursday</th>
                        <th scope="col">Friday</th>
                        <th scope="col">Saturday</th>
                        <th scope="col">Sunday</th>
                        <th scope="col">Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th class="week-num" scope="row">12</th>
                        <td class="date">08/30/2021</td>
                        <td class="mon">0</td>
                        <td class="tues">0</td>
                        <td class="wed">0</td>
                        <td class="thur">0</td>
                        <td class="fri">0</td>
                        <td class="sat">0</td>
                        <td class="sun">0</td>
                        <td class="total"></td>
                    </tr>
                    <tr>
                        <th class="week-num" scope="row">11</th>
                        <td class="date">09/6/2021</td>
                        <td class="mon">0</td>
                        <td class="tues">0</td>
                        <td class="wed">0</td>
                        <td class="thur">0</td>
                        <td class="fri">0</td>
                        <td class="sat">0</td>
                        <td class="sun">0</td>
                        <td class="total"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <br><br>
{% endblock content %}
