    <!--  -->
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-md-4">
                <form action="/login" method="post">
                    <!--  -->
                    <div class="form-floating my-3">
                        <input type="fullName" class="form-control" id="floatingFullName" placeholder="Full Name">
                        <label for="floatingFullName">Full Name</label>
                    </div>
                    <div class="form-floating my-3">
                        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                        <label for="floatingInput">Email address</label>
                    </div>
                    <div class="form-floating my-3">
                        <input type="subject" class="form-control" id="floatingSubject" placeholder="Subject">
                        <label for="floatingSubject">Subject</label>
                    </div>
                    <div class="form-floating my-3">
                        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
                        <label for="floatingTextarea2">Comments</label>
                    </div>
                    <!--  -->
                </form>
            </div>
        </div>
    </div>
