/* general
-------------------------------------------------- */
html {
  position: relative;
}

body {
    background-color: #eee;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    padding-top: 100px;
}

@media screen and (min-width: 768px) {
    body {
      padding-top: 100px;
    }
}

ul#navbarList {
    list-style: none;
    display: flex;
    margin-bottom: 0
}

.asteriskField {
    display: none;
}

/* navbar
-------------------------------------------------- */
nav  {
    padding-bottom: 65px;
}

.navbar-brand {
  width: 150px;
  font-size: 24px;
}
.navbar-brand img {
  height: 50px;
  float: left;
  margin-right: 30px;
}

/* social media icons
-------------------------------------------------- */
.social-icon {
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 14px;
    border-radius: 7px;
    margin-right: 11px;
    cursor: pointer
}

.social-linkedin {
    background-color: #0077B5
}

.social-github {
    background-color: #333
}


/*
-------------------------------------------------- */



