@import url('https://fonts.googleapis.com/css2?family=Poppins');

body {
  padding-top: 150px;
  padding-bottom: 100px;
  text-transform: lowercase;
  font-family: 'Poppins';
}

.asteriskField {
    display: none;
}

a {
  text-decoration: none;
}

/* portfolio
-------------------------------------------------- */

.portfolio-image-container img {
  width: 300px;
  border-radius: 50%;
}


/* navbar
-------------------------------------------------- */

.logo h1{
  color: #212529;
}

.nav-link > a{
  text-decoration: none;
  margin-left: 50px;
  font-weight: 600;
}

.nav-link a:hover{
  color: #2F4858 !important;
}

/* social icons
-------------------------------------------------- */

.social-icon {
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 20px;
    border-radius: 0.25rem;
    margin-right: 11px;
    cursor: pointer
}

.social-linkedin {
    background-color: #0077B5
}

.social-github {
    background-color: #333
}
