/* general
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    background-color: #eee;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    padding-top: 100px;
}

@media screen and (min-width: 768px) {
    body {
      padding-top: 100px;
    }
}

ul {
    list-style: none;
    display: flex;
    margin-bottom: 0
}

/* navbar
-------------------------------------------------- */
nav  {
    padding-bottom: 65px;
}

.navbar-brand {
  width: 150px;
  font-size: 24px;
}
.navbar-brand img {
  height: 50px;
  float: left;
  margin-right: 7px;
}

/* social media icons
-------------------------------------------------- */
.social-icon {
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 14px;
    border-radius: 7px;
    margin-right: 11px;
    cursor: pointer
}

.social-linkedin {
    background-color: #0077B5
}

.social-github {
    background-color: #333
}

/* footer
-------------------------------------------------- */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #f5f5f5;
}



.card-box {
    border: 1px solid #ddd;
    padding: 20px;
    box-shadow: 0px 0px 10px 0px #c5c5c5;
    margin-bottom: 30px;
    float: left;
    border-radius: 10px;
}
.card-box .card-thumbnail {
    max-height: 200px;
    overflow: hidden;
    border-radius: 10px;
    transition: 1s;
}
.card-box .card-thumbnail:hover {
    transform: scale(1.2);
}
.card-box h3 a {
    font-size: 20px;
    text-decoration: none;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.embed-responsive .card-img-top {
    object-fit: cover;
}
