{% extends "portfolio/base.html" %}
{% load static %}
{% block content %}
  <!-- start of ingredients -->
  <!-- custom css -->
  <link rel="stylesheet" type="text/css" href="{% static 'whatscooking/css/ingredient.css' %}">
  <h1>ingredient hub</h1>
  <hr>
  <a class="btn btn-outline-dark my-3" href="{% url 'whatscooking:ingredient-create' %}">add new ingredient</a>
  <!-- ingredient table -->
  <table id="ingredientList" class="table" style="width:100%">
    <thead>
      <tr>
        <th scope="col">image</th>
        <th scope="col">name</th>
        <th scope="col">actions</th>
      </tr>
    </thead>
    <tbody>
      {% if ingredients %}
      {% for ingredient in ingredients %}
        <tr>
          <td><img src="{{ ingredient.image.url }}"></td>
          <td><a href="{% url 'whatscooking:ingredient-detail' ingredient.id %}">{{ ingredient.name }}</a></td>
          <td>
            <a class="btn btn-outline-dark btn-sm m-1" href="{% url 'whatscooking:ingredient-update' ingredient.id %}">edit</a>
            <button type="button" class="btn btn-outline-danger btn-sm m-1 open-modal" data-url="{% url 'whatscooking:ingredient-delete' ingredient.id %}" data-bs-toggle="modal" data-bs-target="#ingredientModal">
            delete
            </button>
          </td>
        </tr>
      {% endfor %}
      {% endif %}
    </tbody>
  </table>
  <br><br>
  <br><br>
  <!-- modal -->
  <div class="modal fade" id="ingredientModal" tabindex="-1" aria-labelledby="ingredientModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="ingredientModalLabel">delete ingredient</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
  $(".open-modal").click(function() {

    url = $(this).attr("data-url");
    console.log(url)
    $.ajax({
      url: url,
      success: function(data) {
        $('#ingredientModal .modal-body').html(data);
        $(".confirm-del").click(function() {
          $('form').submit()
        });
      },
      error: function() {
        alert("error");
      }
    });
  });
  $(document).ready(function() {
    $("#ingredientList").DataTable({
      "lengthChange": false,
      "order": [], //initial no order.
      "columnDefs": [{
          "targets": [0, -1] /* column index */ ,
          "orderable": false /* true or false */ ,
          "searchable": false
        },
        {
          "targets": 2,
          "width": 200
        }
      ],
    });
  });
  </script>
{% endblock content %}
