<div class="content-section">
    <form method="POST" action="{% url 'whatscooking:ingredient-delete' ingredient.id %}">
        {% csrf_token %}
        <fieldset class="form-group">
            <h5>Are you sure you want to delete the post "{{ object.name }}"</h5>
        </fieldset>
        <hr>
        <div class="form-group">
            <button type="button" class="btn btn-outline-dark m-1" data-bs-dismiss="modal">close</button>
            <button class="btn btn-outline-danger m-1" type="submit">yes, delete</button>
        </div>
    </form>
</div>
