{% extends "portfolio/base.html" %}
{% load static %}
{% block content %}
  <!-- start of recipes -->
  <!-- custom css -->
  <link rel="stylesheet" type="text/css" href="{% static 'portfolio/css/recipe.css' %}">
  <h1>recipe hub</h1>
  <hr>
  <a class="btn btn-outline-dark my-3" href="{% url 'whatscooking:recipe-create' %}">add new recipe</a>
  <!-- recipe table -->
  <table id="recipeList" class="table" style="width:100%">
    <thead>
      <tr>
        <th scope="col">image</th>
        <th scope="col">name</th>
        <th scope="col">description</th>
        <th scope="col">cook time</th>
        <th scope="col">serving size</th>
        <th scope="col">actions</th>
      </tr>
    </thead>
    <tbody>
      {% if recipes %}
      {% for recipe in recipes %}
        <tr>
          <td><img src="{{ recipe.image.url }}"></td>
          <td><a href="{% url 'whatscooking:recipe-detail' recipe.id %}">{{ recipe.name }}</a></td>
          <td>{{ recipe.description }}</td>
          <td>{{ recipe.cook_time }}</td>
          <td>{{ recipe.serving_size }}</td>
          <td>
            <a class="btn btn-outline-dark btn-sm m-1" href="{% url 'whatscooking:recipe-update' recipe.id %}">edit</a>
            <button type="button" class="btn btn-outline-danger btn-sm m-1 open-modal" data-url="{% url 'whatscooking:recipe-delete' recipe.id %}" data-bs-toggle="modal" data-bs-target="#recipeModal">
            delete
            </button>
          </td>
        </tr>
      {% endfor %}
      {% endif %}
    </tbody>
  </table>
  <br><br>
  <br><br>
  <!-- modal -->
  <div class="modal fade" id="recipeModal" tabindex="-1" aria-labelledby="recipeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="recipeModalLabel">delete recipe</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
  $(".open-modal").click(function() {

    url = $(this).attr("data-url");
    console.log(url)
    $.ajax({
      url: url,
      success: function(data) {
        $('#recipeModal .modal-body').html(data);
        $(".confirm-del").click(function() {
          $('form').submit()
        });
      },
      error: function() {
        alert("error");
      }
    });
  });
  $(document).ready(function() {
    $("#recipeList").DataTable({
      "lengthChange": false,
      "order": [], //initial no order.
      "columnDefs": [{
          "targets": [0, -1] /* column index */ ,
          "orderable": false /* true or false */ ,
          "searchable": false
        },
        {
          "targets": 2,
          "width": 200
        }
      ],
    });
  });
  </script>
{% endblock content %}
