{% extends "portfolio/base.html" %}
{% load static %}
{% block content %}
    <!-- custom css -->
    <link rel="stylesheet" type="text/css" href="{% static 'whatscooking/css/recipe.css' %}">
    <h1>{{ context }}</h1>
    <div class="card">
        <div class="card-header">
            <h1>
            {% if recipe.url %}
                <a target="_blank" href="{{ recipe.url }}">{{ recipe.name }}</a>
            {% else %}
                {{ recipe.name }}
            {% endif %}
            </h1>
        </div>
        <img class="" src="{{ recipe.image.url }}" class="card-img-top" alt="...">
        <div class="card-body">
            <table class="table table-borderless">
                <thead>
                    <tr class="d-flex">
                        <th class="col-3"></th>
                        <th class="col-9"></th>
                    </tr>
                </thead>
                <tbody>
                    {% if recipe.description %}
                        <tr class="d-flex">
                            <th class="col-sm-3">description</th>
                            <td class="col-sm-9">{{ recipe.description }}</td>
                        </tr>
                    {% endif %}
                    {% if recipe.cook_time %}
                        <tr class="d-flex">
                            <th class="col-sm-3">cook time</th>
                            <td class="col-sm-9">{{ recipe.cook_time }}</td>
                        </tr>
                    {% endif %}
                    {% if recipe.serving_size %}
                        <tr class="d-flex">
                            <th class="col-sm-3">serving size</th>
                            <td class="col-sm-9">{{ recipe.serving_size }}</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
            <!--for inline added steps-->
            {% if object.has_steps %}
                <hr>
                <h3>instructions</h3>
                {% for step in object.has_steps.all %}
                    <ul class="my-3">
                        <li>{{step.order}} – {{step.description}}</li>
                    </ul>
                {% endfor %}
            {% endif %}
            <!--end-->
            <br>
            <a class="btn btn-outline-dark mr-2" href="{% url 'whatscooking:recipe-home' %}">home</a>
            <a class="btn btn-outline-dark" href="{% url 'whatscooking:recipe-update' pk=object.id %}">edit</a>
            <!-- <a class="btn btn-outline-danger" href="{% url 'whatscooking:recipe-delete' pk=object.id %}">delete</a> -->
        </div>
    </div>
{% endblock content %}
